* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74b9ff, #0984e3);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.login-box {
    width: 100%;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #0984e3;
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    color: #999;
    transition: top 0.3s, color 0.3s;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    color: #0984e3;
    font-size: 12px;
}

.login-button {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #0984e3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #74b9ff;
}

.bottom-text {
    margin-top: 20px;
}

.bottom-text a {
    text-decoration: none;
    color: #0984e3;
    transition: color 0.3s;
}

.bottom-text a:hover {
    color: #74b9ff;
}
a{
    color: white!important;
    font-style: normal!important;
    text-decoration: none!important;
}